<div class="list-group m-3">
    <h1>Perfil</h1>
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{firstname}} {{lastname}}</h5>
        <small>{{age}}</small>
    </div>
    <p class="mb-1">{{email}}</p>
    <p class="mb-1">Rol: {{rol}}</p>
    <div class="d-flex w-100">
        <a href="http://localhost:8080/users/logout" class="m-2">
            <button type="button" class="btn btn-danger">Cerrar sesion</button>
        </a>
        <a href="http://localhost:8080/api/products" class="m-2">
            <button type="button" class="btn btn-info">Ir a los productos</button>
        </a>
        <a href="http://localhost:8080/users/passwordRecover" class="m-2">
            <button type="button" class="btn btn-info">Resetear la contraseña</button>
        </a>
    </div>
</div>